body{
  height: 100%;
  width: 100%;
  background-color: #282c34;
}

.scoreboards-container {
  display: flex;
  font-size: 20pt;
}

.score-header {
  color: rgba(255, 255, 255, 0.877);
  text-align: start;
  margin-left: 10px;
}

.loading{
  text-align: center;
  margin-top: 50px;
}


